<li>
      <div class="content_block">
            <a href="#"><img src="sample.gif" alt="" />gfd</a>
            <h2><a href="#">Image Name</a></h2>
            <p>Description goes here</p>
        </div>
 </li>