<div id="add_comment_login">
Musisz się <%= link_to "zalogować", :controller => 'account', :action => 'login' %> aby dodać komentarz.<br />
Jeśli nie masz jeszcze konta zapraszamy do <%= link_to "rejestracji", :controller => 'users', :action => 'new' %>.
</div>