<% title("Reklama w Kurierze Zawierciańskim") %>
 <p style="font-family: Times New Roman; text-align: center; background-color: #ff0000;color: white; margin: 0px 5px 0px 5px" >KURIER ZAWIERCIAŃSKI</p>
 <br />
 <p style="font-size: 12px;font-weight: bold; margin: 0px 5px 0px 8px; ">Cennik ważny od 1 stycznia 2009r.</p>
 <br />
<table id="advertisements_table">
  <tr><td style="font-size: 12px;font-weight: bold">Pełny kolor:</td><td></td><td></td></tr>
  <tr><td>moduł (48x56mm)</td><td>strona 1</td><td>100 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strona 2, 3 lub ostatnia</td><td>68 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strony redakcyjne</td><td>63 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strony reklamowe</td><td>56 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strony przy ogłoszeniach drobnych</td><td>60 zł netto</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Wersja czarno-biała:</td><td></td><td></td></tr>
   <tr><td>moduł (48x56mm)</td><td>strona 1</td><td>80 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strona 2, 3 lub ostatnia</td><td>40 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strony redakcyjne</td><td>35 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strony reklamowe</td><td>28 zł netto</td></tr>
  <tr><td>moduł (48x56mm)</td><td>strony przy ogłoszeniach drobnych</td><td>32 zł netto</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Ogłoszenia drobne:</td><td></td><td></td></tr>
  <tr><td>1 słowo</td><td></td><td>0,50 zł brutto</td></tr>
  <tr><td>1 słowo/wytłuszczone</td><td></td><td>0,75 zł brutto</td></tr>
  <tr><td>1 słowo/wytłuszczone i w ramce</td><td></td><td>1,00 zł brutto</td></tr>
  <tr><td>1 słowo/pisane dużymi literami</td><td></td><td>0,75 zł brutto</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Rabaty reklam i ogłoszeń drobnych:</td><td> </td><td> </td></tr>
  <tr><td>2 emisje-</td><td>rabat</td><td>5%</td></tr>
  <tr><td>3 emisje-</td><td>rabat</td><td>10%</td></tr>
  <tr><td>5 emisji-</td><td>rabat</td><td>15%</td></tr>
  <tr><td>10 emisji-</td><td>rabat</td><td>20%</td></tr>
  <tr><td>26 emisji-</td><td>rabat</td><td>25%</td></tr>
  <tr><td>52 emisji</td><td>rabat</td><td>30%</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Insert ulotek reklamowych</td><td>1 sztuka</td><td>0,10 zł netto</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Życzenia</td><td></td><td>20 zł brutto</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Życzenia</td><td>ze zdjęciem</td><td>25 zł brutto</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Nekrolog</td><td>strony redakcyjne</td><td>30 zł brutto</td></tr>
  <tr><td style="font-size: 12px;font-weight: bold">Nekrolog</td><td></td><td>20 zł brutto</td></tr>
  <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>
<div style="font-size: 14px;width: 472px;height: auto;margin: 0px 5px 0px 8px;">
  <span style="text-decoration: underline; font-weight: bold">Informacje techniczne:</span><br />
  Akceptujemy pliki w formatach: <b>jpg, tif, eps</b><br />
oraz pliki programów Corel (9), Ilustrator (11). <br /> 
<b>Uwaga:</b> czcionki z zamianą na krzywe!<br />
Wymagana rozdzielczość: <b>300 DPI</b><br />
</div>
<br /><br />