<% if a = right_image_link.attachments[0] %>
<div class="right_image">
<%= link_to image_tag(a.public_filename(:window), :border => '0'), article_url(right_image_link.id) %>
<div class="link"><%= link_to right_image_link.title, article_url(right_image_link.id) %></div>
</div>
<% end %>
